#map_div{
    transform: scale(1);
    height: 78vh;
    width: 200vh;
    border-radius: 10px;
}
h1 {
    margin: 15px;
    width: 500px;
    margin-left: 495px;
    text-align: center;
    color: white;
    background-color: rgba(255, 136, 0, 0.741);
    font-family: 'Philosopher', sans-serif;
    box-shadow: 6px 6px 29px -4px rgba(0,0,0,0.75);
    border-radius: 4px;
    cursor: pointer;
    font-size: 25px;
}

p {
    text-align: center;
    font-family: 'Philosopher', sans-serif;
    box-shadow: 6px 6px 29px -4px rgba(0,0,0,0.75);
    font-size: 15px;
}

