#map{
    height: 80vh;
    width: 150vh;
    background-color: orange;
}

h1 {
    margin: 25px;
    text-align: center;
    color: black;
    background-color: orange;
}

p {
    text-align: center;
    
}


.leaflet-popup-content-wrapper{
    background-color: #000;
    color: white;
    border: 3px solid orange;
    border-radius: 5px;
}


.body {
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    padding: 20 px;
}

.boxes {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    padding: 10px;
    background-color:orange;
    font-size: 20px;
}

.boxes div img {
    width:65%
}

